/*phase 1*/

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
}

button {
    background-color: #6288a5;
    border-radius: 3px;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 0 4px;
    padding: 7px 9px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #326891;
}

header,
footer,
main {
    margin: auto;
    max-width: 1400px;
    padding: 0 40px;
}

.masthead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 20px 1fr;
    grid-template-areas: "menu . login" ". tech ." "date logo paper";
}

.masthead__menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-self: start;
    padding: 10px 10px 10px 0;
}

.masthead__login {
    grid-area: login;
    display: flex;
    align-items: center;
    justify-self: end;
    padding: 10px 0 10px 10px;
}

.masthead__tech {
    background-color: white;
    grid-area: tech;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0 89px;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    position: relative;
    top: 1px;
}

.masthead__date {
    grid-area: date;
    display: flex;
    align-items: flex-end;
    justify-self: start;
    padding-bottom: 11px;
    padding-right: 205px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.masthead__logo {
    grid-area: logo;
    align-items: center;
    justify-self: center;
    padding: 10px 0px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.masthead__paper {
    grid-area: paper;
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
    padding-bottom: 11px;
    padding-left: 275px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.masthead__buttons__icons {
    font-size: 20px;
    padding: 7px 9px;
}

.masthead__buttons__icons:hover {
    background-color: #f7f7f5;
}

button {
    background-color: lightblue;
    border-radius: 3px;
    font-size: bold;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size: 11px;
    padding: 7px 9px;
    margin: 0px 4px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

button:hover {
    background-color: blue;
}

.masthead__tech__text {
    font-size: 12px;
    text-transform: uppercase;
    color: darkgray;
    margin: 0 5px;
}


/*phase 2*/